<style>
    @font-face {
    font-family: 'JSDongkang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'JSDongkang-Regular';
    color: "red";
	background-color: palegoldenrod;
}
h1 {
	font-family: 'Recipekorea';
	font-size: 45px;
}
span {
	color: crimson;
}
.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
img {
	margin-left: 250px;	
}

.buttons {
	float: left;
	
}

.buttons a button {
	background-color:pink;
	height: 30px;
	width: 70px;
	margin-right: 5px;
	border-radius: 7px;
}

</style>

<h1> {{ post.title }} </h1> <br>
<img src="{{ post.poster.url }}">
<div class = "posts">
    <div class="flex-container">
		<p><span>평점:</span> {{post.score}}</p>
    	<p><span>개봉일:</span> {{post.release_date}}</p>
    	<p><span>장르:</span> {{post.genre}}</p>
	</div>
    	<p><span>줄거리</span><br>{{post.plot}}</p>
		<p><span>느낀점</span><br>{{ post.review|linebreaks }}</p>
</div>
{% if post.pub_date %}
			<span>작성일:</span> {{ post.pub_date }}
		{% endif %}
<br><br><br>
<div class="buttons">
	<a href="{% url 'edit' index=post.pk %}"><button>수정하기</button></a>
	<a href="{% url 'delete' pk=post.pk %}"><button>삭제하기</button></a>
</div>