<style>
@font-face {
    font-family: 'JSDongkang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    *   {
    font-family: 'JSDongkang-Regular';
	background-color: wheat;
}

</style>

<h1>새 감상평</h1>
<form method = "POST" class = "post-form" enctype="multipart/form-data">{% csrf_token %}
	{{ form.as_p }}
	<button type = "submit">저장하기</button>
</form>